body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vw;
  background-color: rgb(0, 0, 0);
}

h1 {
  font-size: 15rem;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
}

.letter {
  transition: color 1000ms;
}

